<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave mail to Hr or manager</title>
</head>
<body>
  

    <h3>Dear [Manager/HR],</h3>
    <p>I am writing to request  leave <span th:text="${leaveType}"></span> 
        from <span th:text="${startDate}"></span> to<span th:text="${endDate}"></span> from Employee Id <span th:text="${empid}"></span> due to <span th:text="${reason}"></span>.
        Your prompt attention to this matter is greatly appreciated.

        Sincerely,
        [Narendra]
    </p>
    
</body>
</html>