<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    
    <title>MonthlyReviews</title>
</head>
<body>
 <h1> Hello,<span style="color: rgb(128, 128, 128);" th:text="${username}"></span>!</h1>
  <span>Your current <span style="color: red;">technical rating is <span th:text=${techRating}></span>.</span>And communication rating is<span th:text=${commRating}></span>. <br>
    While you're doing well,Keep up the good work!</p>
    <p>Any querys dotreplyEidiko@gmail.com</p>
    <p>Thanks & regards
      <br>Narendra reddy
    </p>
</body>
</html>